 
 .content{background-color: black; color:wheat;padding-top: 20px;}
   .header{background-color: yellow;
   text-align: center;  
padding: 5px;
height: 60px;}
   .footer{
      background-color: yellow;
      margin-top: -10px;
      height: 70px;
   }
   .footer button{
      float: right;
      margin: 20px;
   }
   #textboxes{margin: 50px;}
   .content  div{margin-bottom: 10px;}
   .content label, input {
        display: inline-block;
    }  
    label {
    width: 35%;
    text-align: right;
    }
   
  label + input, .mySelect {
      width: 50%;
      margin: 0 0 0 4%;
  }

  label + select {
    margin: 0 0 0 4%;
 }
.btn:hover{
   background-color: red !important;
}
.main {
   width: 50%;
   border: yellow;
   border-style: solid;
   border-radius: 10px"
}

/*  input + input {
      float: right;
  } */
   